include layout

.row.max-width

  .card
    .card-image
      img(src='/images/brokenplanet.jpg')
      span.card-title #{message}
    .float-text
      .chip #{error.status}

    .card-content
      pre #{error.stack}
    .card-action.row
      a(href='/').btn Go home, you're drunk