doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        link(rel="icon", type="image/png", sizes="192x192",  href="/images/favicon/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon/favicon-16x16.png")
        link(rel="manifest", href="/manifest.json")

        title #{title}

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/materialize.min.js')
        link(rel='stylesheet', href='/stylesheets/materialize.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
