include layout

.container
    nav.teal
        .nav-wrapper
            a(href="#").brand-logo SSPR: Sibice Ships Public Record

    .content
        h5.center-align Seems like you know nothing, Jon Snow