include layout

nav.teal
    .container
        .nav-wrapper
            .col.s12
                a(href='/').breadcrumb Sibice
                a(href="#").breadcrumb #{title}
.container
    include planet