.max-width {
	max-width: 900px;
}

.header {
	height: 280px;
	font-size: 16pt;
	text-shadow: 1px 1px 1px black;
	background: url('/images/all.jpg') no-repeat center;
	background-size: cover;
	text-align: center;
}
.header a, .header a:visited {
	color: white;
	text-decoration: none;
}

.float-text {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
}

.flex {
	display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex.center-center {
	justify-content: center;
	align-content: center;
}